<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Processing Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>PERCEPTION HASH</h1>
    <div class="form-container" id="imageSourceContainer">
        <form>
            <div >
                <label>Image Source:</label>
                <label class="radio-inline">
                    <input type="radio" name="imageSource" value="distorted"> Load Distorted Images
                </label>
                <label class="radio-inline">
                    <input type="radio" name="imageSource" value="distortNew"> Distort New Images
                </label>
            </div>


            <!-- already distorted -->
            <div id="alreadyDistorted" style="display:none;">
                <label for="distorted-folders" class="form-header" >Choose the folders you want to test:</label>
                <div id="foldersContainer">
                    <!-- Checkboxes and labels for folders will be added here -->
                </div>
            </div>


            <!-- new distortion -->
            <div id="distortionOptions" style="display:none;">
                <label for="distorted-folders" class="form-header" >Choose images to encode:</label>
            </div>


        </form>
    </div>
    <div class="form-container" id="distortionContainer" style="display:none;">
        <form>
            <div id="secondFormContainer">
                <label class="form-header">Select distortions:</label>
                <!-- <div class="checkbox-wrapper">
                    <label for="dct">blur_2</label>
                    <input type="checkbox" id="dct" name="encoding_techniques" value="blur_2">
                </div>
                <div class="checkbox-wrapper">
                    <label for="wavelet">blur_5</label>
                    <input type="checkbox" id="wavelet" name="encoding_techniques" value="blur_5">
                </div>
                <div class="checkbox-wrapper">
                    <label for="perceptual">original</label>
                    <input type="checkbox" id="perceptual" name="encoding_techniques" value="original">
                </div> -->
            </div>
        </form>

    </div>


    <div class="form-container" id="hashingContainer" style="display:none;">
        <form>
            <div>
                <label class="form-header">Select hashing techniques:</label>
                <div class="checkbox-wrapper">
                    <label for="md5">ViT</label>
                    <input type="checkbox" id="md5" name="hashing_techniques" value="vit">
                </div>
                <div  class="checkbox-wrapper">
                    <label for="sha1">PHash</label>
                    <input type="checkbox" id="sha1" name="hashing_techniques" value="phash">
                </div>
            </div>
        </form>
    </div>

    <div class="form-container" id="graphContainer" style="display:none;">
        <form>
            <div>
                <label class="form-header">Select graphs to produce:</label>
                <div class="checkbox-wrapper">
                    <label for="performance">Performance Comparison</label>
                    <input type="checkbox" id="performance" name="graphs" value="performance">
                </div>
                <div class="checkbox-wrapper">
                    <label for="similarity">Similarity Scores</label>
                    <input type="checkbox" id="similarity" name="graphs" value="similarity">
                </div>
                <!-- Add more graph options as needed -->
            </div>
        </form>
    </div>

    <div class="button-container" id="submitButtonContainer" style="display:none;">
        <button class="in-body" type="button" id="submitAll">Process Images</button>
    </div>
        <!-- Link to the external JavaScript file -->
    <script src="{{ url_for('static', filename='js/formLogic.js') }}"></script>
</body>
</html>
